header{
	height: 1300px;
	padding-top: 120px;
	padding-bottom:120px;
	background-image: url("../imagenes/13.JPG") ;
	background-size: cover;
	display: flex;
	justify-content: center;
	background-position: center;

}

	p{
		image: url("../imagenes/redes/instagram.png") ;
		image-position: center;

	}
